* {
  box-sizing: border-box;
}
html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-size: 14px;
  color: #72777a;
  letter-spacing: .2px;
}