.slidebar {
  height: 100%;
  width: 240px;
  background-color: #ffffff;
  float: left;
  border: 1px solid rgba(0,0,0,.0625) !important;
  position: fixed;

  .website-name {
    display: flex;
    height: 75px;
    background-color: #f5f5f5;
    // border-right: 1px solid #e5e5e5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;

    .text {
      color: #000000;
      font-size: 24px;
      font-weight: 700;
    }
  }

  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;

    li:hover{
      background-color: #fafafa;
      a {
        color: #000000
      }
    }

    li {
      height: 50px;
      a {
        display: flex;
        padding: 10px 20px;
        text-decoration: none;
        align-items: center;
        .icon {
          height: 30px;
          width: 30px;
        }
        span {
          margin-left: 40px;
        }
      }
    }
  }
}