.header {
  display: flex;
    height: 75px;
    width: calc(100% - 240px);
    background-color: #f5f5f5;
    position: fixed;
    box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.1);

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      padding: 10px 20px;

      .input-search {
        background-image: url('../../../asset/icon/search.png');
        background-position: 10px 6px;
        background-repeat: no-repeat;
        background-size: 20px;
        justify-content: flex-end;
        padding: 6px 35px;
        border: none;
        font-size: 17px;
        border-radius: 16px;
    }
    .input-search:focus {
        outline: 0;
    }
    .user {
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
        height: 100%;
        #avatar {
            height: 40px;
            width: 40px;
            margin: 0 5px
        }
        .user-name {
            font-size: 20;
            font-weight: 400;
        }
        #icon-down {      
            margin-left: 5px;     
            height: 15px;
            width: 15px;
        }
    }
    .user:hover{
        background-color:rgba(0, 0, 0, 0.08)
    }
    }
    .icon-menu {
      float: left;
    }
    .icon {
      width: 30px;
      height: 30px;
    }
}