

.detail {grid-area: detail}
.title {grid-area: title}
.avatar {grid-area: avatar}
.user-info {
  height: 300px;
  width: 600px;
  margin: auto;
  top:calc(50% - 150px);
  left: calc(50% - 300px);
  background-color: #ffffff;
  position: absolute;
  display: grid;
  border-radius: 9px;
  grid-template-areas: 
  'title title title title'
  'avatar detail detail detail '
  'avatar detail detail detail '
  'avatar detail detail detail ';
  grid-gap: 10px;
  padding: 10px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 5px 8px 0px rgba(0, 0, 0, 0.14),0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  z-index: 9999;

.title {
  font-size: 22px;
  color:rgb(114, 119, 122);
  text-align: center;
}
.avatar{
  width: 100%;
  min-width: 150px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.detail {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  padding: 10px 0 0 10px;

  .text {
    font-size: 16px;
    color: rgb(114, 119, 122);;
    padding: 5px 0;

    span {
      font-size: 20px;
      color: rgb(49, 52, 53)
    }
  }
}
}
