.container {
  height: 100%;
  width: 100%;
  background-color: #f9fafb;
  padding-left: 240px;
  .content-layout {
    display: flex;
    flex: 1;
    // height: 100%;
    padding-top: 75px;
    .content {
      margin: 15px;
      padding: 15px;
      border-radius: 5px;
      background-color: #ffffff;
      width: 100%;
      box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);

    }
  }
}